.container {
    width: min(100%, 1440px);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    background-color: #F17008;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header img {
    width: 100px;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

/* section1 */
.section1 {
    background-image: url(../imiges/cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 640px;
}

.section1-box {
    width: 762px;
    height: 208px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCC21B;
}

.secttion1-article {
    font-family: "Inter", serif;
    color: #FFFFFF;
}

.section1-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.section1-button {
    width: 224px;
    height: 52px;
    border: 3px solid black;
    box-shadow: 0px 2px 4px 0px #000000D9;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
}

